/*! * bootstrap-fileinput v5.2.2 * http://plugins.krajee.com/file-input * * Krajee default styling for bootstrap-fileinput. * * Author: Kartik Visweswaran * Copyright: 2014 - 2021, Kartik Visweswaran, Krajee.com * * Licensed under the BSD-3-Clause * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md */
.btn-file input[type=file], .file-caption-icon, .file-no-browse, .file-preview .fileinput-remove, .file-zoom-dialog .btn-navigate, .file-zoom-dialog .floating-buttons, .krajee-default .file-thumb-progress {
    position: absolute;
}
.fileinput-remove{
    display: none;
}
.file-loading input[type=file], input[type=file].file-loading {
    width: 0;
    height: 0;
}
.file-no-browse {
    left: 50%;
    bottom: 20%;
    width: 1px;
    height: 1px;
    font-size: 0;
    opacity: 0;
    border: none;
    background: 0 0;
    outline: 0;
    box-shadow: none;
}
.file-caption-icon, .file-input-ajax-new .fileinput-remove-button, .file-input-ajax-new .fileinput-upload-button, .file-input-ajax-new .no-browse .input-group-btn, .file-input-new .close, .file-input-new .file-preview, .file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button, .file-input-new .glyphicon-file, .file-input-new .no-browse .input-group-btn, .file-zoom-dialog .modal-header:after, .file-zoom-dialog .modal-header:before, .hide-content .kv-file-content, .is-locked .fileinput-remove-button, .is-locked .fileinput-upload-button, .kv-hidden {
    display: none;
}
.btn-file, .file-caption, .file-input, .file-loading:before, .file-preview, .file-zoom-dialog .modal-dialog, .krajee-default .file-thumbnail-footer, .krajee-default.file-preview-frame {
    position: relative;
}
.file-caption-icon .kv-caption-icon {
    line-height: inherit;
}
.file-error-message pre, .file-error-message ul, .krajee-default .file-actions, .krajee-default .file-other-error {
    text-align: left;
}
.file-error-message pre, .file-error-message ul {
    margin: 0;
}
.krajee-default .file-drag-handle, .krajee-default .file-upload-indicator {
    float: left;
    margin-top: 10px;
    width: 16px;
    height: 16px;
}
.file-thumb-progress .progress, .file-thumb-progress .progress-bar {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.7rem;
}
.krajee-default .file-thumb-progress .progress, .kv-upload-progress .progress {
    background-color: #ccc;
}
.krajee-default .file-caption-info, .krajee-default .file-size-info {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    height: 15px;
    margin: auto;
}
.file-zoom-content > .file-object.type-flash, .file-zoom-content > .file-object.type-image, .file-zoom-content > .file-object.type-video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}
.file-zoom-content > .file-object.type-flash, .file-zoom-content > .file-object.type-video {
    height: 100%;
}
.file-zoom-content > .file-object.type-default, .file-zoom-content > .file-object.type-html, .file-zoom-content > .file-object.type-pdf, .file-zoom-content > .file-object.type-text {
    width: 100%;
}
.file-loading:before {
    content: " Loading...";
    display: inline-block;
    padding-left: 20px;
    line-height: 16px;
    font-size: 13px;
    font-variant: small-caps;
    color: #999;
    background: url(../img/loading.gif) top left no-repeat;
}
.file-object {
    margin: 0 0 -5px;
    padding: 0;
}
.btn-file {
    overflow: hidden;
}
.btn-file input[type=file] {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none;
    cursor: inherit;
    display: block;
}
.btn-file ::-ms-browse {
    font-size: 10000px;
    width: 100%;
    height: 100%;
}
.file-caption.icon-visible .file-caption-icon {
    display: inline-block;
}
.file-caption.icon-visible .file-caption-name {
    padding-left: 30px;
}
.file-caption-name:not(.file-caption-disabled) {
    background-color: transparent;
}
.file-caption-name.file-processing {
    font-style: italic;
    border-color: #bbb;
    opacity: 0.5;
}
.file-caption-icon {
    padding: 0.5rem;
    left: 4px;
}
.file-error-message {
    color: #a94442;
    background-color: #f2dede;
    margin: 5px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 15px;
}
.file-error-message pre {
    margin: 5px 0;
}
.file-caption-disabled {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 1;
}

.file-preview .clickable {
    cursor: pointer;
}
.file-preview-image {
    width: 100%;
}
.krajee-default.file-preview-frame {
    width: 100%;
    height: 183px;
}
.krajee-default.file-preview-frame .kv-file-content {
    width: 100%;
}
.krajee-default.file-preview-frame .kv-file-content video{
    width: 100% !important;
    height: 280px !important;
}
.krajee-default .file-preview-other-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}
.krajee-default.file-preview-frame .kv-file-content.kv-pdf-rendered {
    width: 400px;
}
.krajee-default.file-preview-frame[data-template=audio] .kv-file-content {
    width: 240px;
    height: 55px;
}
.krajee-default.file-preview-frame .file-thumbnail-footer {
    height: 70px;
}
.krajee-default .file-preview-text {
    color: #428bca;
    border: 1px solid #ddd;
    outline: 0;
    resize: none;
}
.kv-file-zoom{
    display: none;
}
.krajee-default .file-preview-html {
    border: 1px solid #ddd;
}
.krajee-default .file-other-icon {
    font-size: 6em;
    line-height: 1;
}
.krajee-default .file-footer-buttons {
    float: right;
}
.krajee-default .file-footer-caption {
    display: none;
}
.file-upload-stats {
    font-size: 10px;
    text-align: center;
    width: 100%;
}
.kv-upload-progress .file-upload-stats {
    font-size: 12px;
    margin: -10px 0 5px;
}
.krajee-default .file-preview-error {
    opacity: 0.65;
    box-shadow: none;
}
.krajee-default .file-thumb-progress {
    top: 37px;
    left: 0;
    right: 0;
}
.krajee-default.kvsortable-ghost {
    background: #e1edf7;
    border: 2px solid #a1abff;
}
.krajee-default .file-preview-other:hover {
    opacity: 0.8;
}
.krajee-default .file-preview-frame:not(.file-preview-error) .file-footer-caption:hover {
    color: #000;
}
.kv-upload-progress .progress {
    height: 20px;
    margin: 10px 0;
    overflow: hidden;
}
.kv-upload-progress .progress-bar {
    height: 20px;
    font-family: Verdana, Helvetica, sans-serif;
}
.file-zoom-dialog .file-other-icon {
    font-size: 22em;
    font-size: 50vmin;
}
.file-zoom-dialog .modal-dialog {
    width: auto;
}
.file-zoom-dialog .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.file-zoom-dialog .btn-navigate {
    padding: 0;
    margin: -60px 0 0;
    font-size: 60px;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    opacity: 0.7;
    top: 50%;
    color: #1c94c4;
}
.file-zoom-dialog .btn-navigate:not([disabled]):hover {
    outline: 0;
    box-shadow: none;
    opacity: 0.6;
}
.file-zoom-dialog .floating-buttons {
    top: 5px;
    right: 10px;
}
.file-zoom-dialog .btn-navigate[disabled] {
    opacity: 0.3;
}
.file-zoom-dialog .btn-kv-prev {
    left: 1px;
}
.file-zoom-dialog .btn-kv-next {
    right: 1px;
}
.file-zoom-dialog .kv-zoom-title {
    font-weight: 300;
    color: #999;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file-input-ajax-new .no-browse .form-control, .file-input-new .no-browse .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.file-caption {
    width: 100%;
}
.file-thumb-loading {
    background: url(../img/loading.gif) center center no-repeat content-box !important;
}
.file-drop-zone.clickable:hover {
    border: 2px dashed #999;
}
.file-drop-zone.clickable:focus {
    border: 2px solid #5acde2;
}
.file-drop-zone .file-preview-thumbnails {
    cursor: default;
}
.file-drop-zone-title {
    display: none;
}
.file-highlighted {
    border: 2px dashed #999 !important;
    background-color: #eee;
}
.file-uploading {
    background: url(../img/loading-sm.gif) center bottom 10px no-repeat;
    opacity: 0.65;
}
.file-zoom-fullscreen .modal-dialog {
    min-width: 100%;
    margin: 0;
}
.file-zoom-fullscreen .modal-content {
    border-radius: 0;
    box-shadow: none;
    min-height: 100vh;
}
.file-zoom-fullscreen .modal-body {
    overflow-y: auto;
}
.floating-buttons {
    z-index: 3000;
}
.floating-buttons .btn-kv {
    margin-left: 3px;
    z-index: 3000;
}
.kv-zoom-actions .btn-kv {
    margin-left: 3px;
}
.file-zoom-content {
    text-align: center;
    min-height: 300px;
}
.file-zoom-content .file-preview-image, .file-zoom-content .file-preview-video {
    max-height: 100%;
}
.file-zoom-content > .file-object.type-image {
    height: auto;
    min-height: inherit;
}
.file-zoom-content > .file-object.type-audio {
    width: auto;
    height: 30px;
}
@media (min-width: 576px) {
    .file-zoom-dialog .modal-dialog {
        max-width: 500px;
    }
}
@media (min-width: 992px) {
    .file-zoom-dialog .modal-lg {
        max-width: 800px;
    }
}
@media (max-width: 767px) {
    .file-preview-thumbnails {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .file-zoom-dialog .modal-header {
        flex-direction: column;
    }
}
@media (max-width: 350px) {
    .krajee-default.file-preview-frame:not([data-template=audio]) .kv-file-content {
        width: 160px;
    }
}
@media (max-width: 420px) {
    .krajee-default.file-preview-frame .kv-file-content.kv-pdf-rendered {
        width: 100%;
    }
}
.file-loading[dir=rtl]:before {
    background: url(../img/loading.gif) top right no-repeat;
    padding-left: 0;
    padding-right: 20px;
}
.clickable .file-drop-zone-title {
    cursor: pointer;
}
.file-sortable .file-drag-handle:hover {
    opacity: 0.7;
}
.file-sortable .file-drag-handle {
    cursor: grab;
    opacity: 1;
}
.file-grabbing, .file-grabbing * {
    cursor: not-allowed !important;
}
.file-grabbing .file-preview-thumbnails * {
    cursor: grabbing !important;
}
.file-preview-frame.sortable-chosen {
    background-color: #d9edf7;
    border-color: #17a2b8;
    box-shadow: none !important;
}
.file-preview .kv-zoom-cache {
    display: none;
}
.hiddenModife{
    display: none;
}
.btn-MOdifePhoto {
    cursor: pointer !important;
}
.btn-MOdifePhoto img{
    cursor: pointer !important;
}
.btn-MOdifePhoto input{
    cursor: pointer !important;
}
.image-attachment{
    cursor: pointer !important;
}
.modal{
    margin-top: 75px;
}