/*.contentLogin{
    height: 100vh;
    overflow: hidden;
}*/
.blockContentElement{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 100%;
}
.ravisText{
    color: #444B59;
    font-size: 22px;
    margin-bottom: 3px;
    font-weight: bold;
}
.pasEncore{
    color: #444B59;
    margin-bottom: 25px;
    font-size: 15px;
}
.pasEncore a{
    color: #D77A0D;
}
.elementCheck{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.motdepassOublie{
    color: #d77b32;
    font-size: 13px;
    margin-bottom: 20px;
    margin-right: 25px;
}
.motdepassOublie:hover {
    color: #d77b32;
    text-decoration: underline;
}
.btnSociauxblock{
    display: flex;
    justify-content: center;
}
.btnSociauxblock img{
    width: 22px;
}
.ouContinuer{
    color: #444B59;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 30px;
}
.ouContinuer span {
    background:#fff;
    padding:0 6px;
}
.labelLogin{
    color: #444B59;
}
.inputLogin{
    border-radius: 50px;
    border: 1.25px solid #789ADE;
    color: #2E7CD9;
    font-size: 14px;
}
.inputLogin::placeholder{
    color: #2E7CD9;
    font-size: 14px;
}
.blockOne{
    width: 40%;
}
.blokOneBis{
    width: 100%;
}
.blokOneFabriquant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-check input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.form-check label {
    position: relative;
    color: #444b59;
    font-size: 13px;
    cursor: pointer;
}
.form-check label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #2E7CD9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 100%;
    margin-top: -3px;
}
.form-check input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 4px;
    width: 10px;
    height: 10px;
    background: #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg );
    border-radius: 100%;
}
.btn-connecter{
    width: 100%;
    background: #D77A0D;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 23px;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
}
.btn-connecter:hover{
    color: white !important;
}
.flecheBtn{
    position: absolute;
    right: 30px;
    top: 11px;
}
.form-check {
    padding-left: 2px !important;
}
.btnsociaux {
    border: 1.23px solid #D77A0D;
    text-align: center;
    align-items: center;
    width: 60px;
    height: 40px;
    margin: 0 10px;
}
.imgManuski{
    width: 451px;
    padding-top: 130px;
    position: relative;
}
.imgManuski img{
    width: 100%;
}
.bulImg {
    position: absolute;
    right: 0;
    min-height: 125vh !important;
    width: 650px;
    overflow: hidden;
    background: url("../img/Vector-4.png");
}
.bulImg img{
    width: 100%;
}
.nav-linkModife {
    padding-right: 20px !important;
    padding-left: 20px !important;
    color: #444B59;
}
.vector5{
    position: absolute;
    right: 550px;
    top: 60px;
    width: 60px;
}
.navbar-login{
    background: none !important;
}
.blockTabsAccount{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9C9A98;
    margin-bottom: 30px;
}
.blockTabsAccount .btn{
    color: #717171;
    font-size: 18px;
    width: auto;
    padding: 5px 20px;
}
.activeBtn{
    background: #D77A0D;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.btnFabricant {
    min-width: 42%;
}
.formAccount{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.colM{
    width: 48%;
}
.colL{
    width: 100%;
}
.labelAccount{
    font-size: 14px;
    line-height: 16px;
    color: #1A1A1A;
}
.inputAccount {
    background: #FFFFFF;
    border: 1.5px solid #767676;
    box-sizing: border-box;
    border-radius: 3px;
    height: calc(1.5em + .75rem + 5px) !important;
    color: #D77A0D !important;
}
.inputAccount:focus {
    color: #D77A0D !important;
    background-color: #fff;
    border-color: #D77A0D !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #d77a0d0d !important;
}
.selectModife{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent url("../img/selectDown.png") no-repeat 95% center !important;
}
.selectModife1{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent url("../img/selectDown.png") no-repeat 98% center !important;
}
.btn.focus, .btn:focus {
    box-shadow: unset !important;
}
.blockTabsAccount .activeBtn {
    background: #D77A0D;
    border-radius: 4px;
    color: white !important;
    font-weight: bold;
    font-size: 17px !important;
}
.blockTabsAccount .btn {
    color: #717171;
    font-size: 18px;
    width: auto;
    padding: 5px 20px;
}
.elementCont{
    display: block;
    width: 100%;
}
.utilisateurEquipement{
    font-weight: 800;
    font-size: 20px;
    line-height: 35px;
    color: #444B59;
}
.btnRetour img{
    width: 26px;
    margin-top: -15px;
    margin-right: 30px;
}
.chooseProfil{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #595959;
    width: 100%;
}
.blockEmployeEntreprise{
    display: flex;
    justify-content: space-between;
}
.radioModife {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 3px;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #444B59;
    align-items: center;
}

.radioModife input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eeeeee1f;
    border-radius: 100%;
    border: 1px solid #a9a5a5;
}

.radioModife:hover input ~ .checkmark {
    background-color: #ccc;
}

.radioModife input:checked ~ .checkmark {
    background-color: #ffffff;
    border: 1px solid #d77a0d;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radioModife input:checked ~ .checkmark:after {
    display: block;
}
.radioModife .checkmark:after {
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: #d77a0d;
}
.blockElementequipement {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-left: -50px;
    margin-top: 20px;
}
.formEquipement3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media all and (min-width: 300px) and (max-width: 767px){
    .bulImg {
        display: none;
    }
    .vector5 {
        display: none;
    }
    .blockContentElement {
        display: block;
    }
    .blockOne {
        width: 100%;
    }
    .blokOneBis {
        width: 100%;
    }
    .blokOneFabriquant {
        width: 100%;
    }
    .secondblock {
        display: none;
    }
    .utilisateurEquipement {
        font-size: 15px;
        margin-left: -26px;
    }
    .blockAdapte {
        padding: 0;
        margin-bottom: 30px;
    }
    .solutionsAdapte {
        font-size: 16px;
        line-height: 22px;
        color: #10375C;
        font-weight: bold;
        width: 210px;
        margin-bottom: 10px;
    }
    .SolutionCardOne {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    .overlayolution {
        padding: 15px 15px;
        border: 1px solid #d77b3263;
    }
    .textCardSolution {
        font-size: 20px;
        line-height: 28px;
    }
    .descriptionSolutionCard {
        font-size: 14px;
    }
    .SolutionCard {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .bulImg {
        display: none;
    }
    .imgManuski {
        width: 340px;
        padding-top: 108px;
        position: relative;
    }
    .blockAdapte {
        padding: 0;
        margin-bottom: 40px;
    }
    .solutionsAdapte {
        font-size: 22px;
        line-height: 28px;
        color: #10375C;
        font-weight: bold;
        width: 252px;
    }
    .contText h3 {
        font-size: 16px;
    }
    .contText p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .SolutionCardOne {
        height: 248px;
    }

}