.content-Actuality{
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
.list-wrapper{
    overflow: hidden;
    width: 100%;
    display: flex;
    margin: 0 auto;
}
.list-item{
    border: 1px solid #EEEEEE;
    margin-bottom: 10px;
    padding: 0;
    width: 30%;
    margin: 15px;
    position: relative;
    cursor: pointer;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 3.23343px;
}
.list-item img{
    width: 100%;
    height: 145px;
    object-fit: cover;
}
.list-item .text{
    text-align: center;
}
.list-item .text h3{
    font-size: 24px;
}
.list-item .text h3{
    font-size: 18px;
}
.simple-pagination li{
    display: inline-block;
}
.simple-pagination li a, .simple-pagination li span{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #FFFFFF;
    text-align: center;
    text-decoration: none;
    color: #d77a0d;
    border-radius: 0;
    margin: 0;
    box-shadow: inset 0 0px 0px #ffffff;
    transition: all 1s ease;
    border: none;
}
.simple-pagination .current{
    color: #FFFFFF;
    background: #d77b32;
    border: none;
    cursor: pointer;
}
.simple-pagination ul .active .prev{
    background: #d77b32;
    border: none;
    box-shadow: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.simple-pagination ul .active .next{
    background: #d77b32;
    border: none;
    box-shadow: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.textActuality {
    padding: 15px;
}
.linkElement {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: -0.0808357px;
    color: #969696;
}
.textActuality h3{
    font-weight: 500;
    font-size: 16px !important;
    line-height: 21px;
    letter-spacing: -0.161671px;
    color: #1C1C1C;
}
.textActuality p{
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.161671px;
    color: #585757;
    margin-bottom: 0;
}
.simple-pagination ul{
    padding-top: 0px;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid #bbbbbb6b;
    padding-left: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 20px;
}

.list-wrapper {
    flex-wrap: wrap;
}
@media all and (min-width: 300px) and (max-width: 767px){

    .list-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .list-item {
        width: 49%;
        margin: 0;
        margin-bottom: 10px;
    }
    .list-item img {
        height: 80px;
    }
    .textActuality {
        padding: 8px;
    }
    .textActuality h3 {
        font-size: 11px !important;
        line-height: 15px;
    }
    .content-Actuality {
        margin-top: -6px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .list-item {
        width: 29%;
        margin: 10px;
        position: relative;
        cursor: pointer;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 3.23343px;
    }
    .textActuality h3 {
        font-weight: 500;
        font-size: 14px !important;
        line-height: 16px;
        letter-spacing: -0.161671px;
        color: #1C1C1C;
    }
}


