@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../font/Ubuntu-Bold.woff2") format("woff2"), url("../font/Ubuntu-Bold.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-BoldItalic";
    src: url("../font/Ubuntu-BoldItalic.woff2") format("woff2"), url("../font/Ubuntu-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-Italic";
    src: url("../font/Ubuntu-Italic.woff2") format("woff2"), url("../font/Ubuntu-Italic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("../font/Ubuntu-Light.woff2") format("woff2"), url("../font/Ubuntu-Light.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-LightItalic";
    src: url("../font/Ubuntu-LightItalic.woff2") format("woff2"), url("../font/Ubuntu-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../font/Ubuntu-Medium.woff2") format("woff2"), url("../font/Ubuntu-Medium.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-MediumItalic";
    src: url("../font/Ubuntu-MediumItalic.woff2") format("woff2"), url("../font/Ubuntu-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../font/Ubuntu-Regular.woff2") format("woff2"), url("../font/Ubuntu-Regular.woff") format("woff");
}

body {
    background: #F8F8F8;
    font-family: "Ubuntu-Regular";
}

.genaralBlock {
    background: #F8F8F8;
    padding-top: 95px;
}

.navLogo {
    width: 80px;
}

.navLogo img {
    width: 100%;
}

.blockDrapreau {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    border-bottom: 1px solid #d2d2d2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.blockGeneral1 {
    position: fixed;
    width: 100%;
    z-index: 1111;
    top: 0;
    background: #f8f8f8;
}

.blockNav {
    position: fixed;
    width: 100%;
    top: 27px;
    z-index: 1111;
}

.blockMap {
    position: absolute;
    top: 5px;
    right: 46px;
    display: flex;
    align-items: end;
}

.blockMap img {
    width: 13px;
}

.pays {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.006em;
    color: #979797;
}

.btnModifeSearch {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 6px;
}

.form-control {
    position: relative;
}

.activeNav {
    border-bottom: 2px solid #D77A0D;
}

.activeNav .nav-linkModife {
    color: #D77A0D !important;
    font-family: "Ubuntu-Medium";
}

.voirToutBnt2 {
    background: white;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #d77b32;
    height: fit-content;
    padding: 6px 10px;
    font-family: "Ubuntu-Medium";
    border-radius: 3px;
    border: 1px solid;
    align-items: center;
}

.voirToutBnt2 img {
    width: 9px;
}

.hrModife3 {
    border: 2px solid #E8E8E8;
    margin-left: 15px;
    width: 55%;
    margin-top: 21px;
}

.circleImgNav {
    width: 35px;
    margin-left: 15px;
    height: 35px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #d77b32;
}

.circleImgNav img {
    width: 100%;
}

.nav-toute {
    padding: 9px 14px;
    top: 46px;
    background: #D77A0D;
    border-radius: 5.61429px;
    color: white;
    margin-right: 15px;
    font-size: 13px;
    margin-left: 20px;
}

.nav-linkModife {
    color: #252C32 !important;
}

.itemConnecte a {
    color: #FFFFFF !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
}

.navBarPlateforme {
    background-color: #FFFFFF !important;
    padding: 5px 40px 0;
    border-bottom: 1px solid #E5E9EB;
}

.contentPageGeneral {
    display: flex;
    justify-content: space-between;
}

.blockleft {
    width: 22%;
    left: 100px;
    position: fixed;
    display: block;
    height: 100%;
    overflow: scroll;
    padding-bottom: 100px;
}

.blockleft::-webkit-scrollbar {
    display: none !important;
}

.blockRight::-webkit-scrollbar {
    display: none !important;
}

.blockRight {
    width: 22%;
    right: 100px;
    position: fixed;
    display: block;
    height: 100%;
    overflow: scroll;
    padding-bottom: 100px;
}

.contentPage {
    width: 49%;
    position: relative;
    margin-left: 25.5%;
}

.contentPageInterneOne {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.blockVideo {
    width: 100%;
    height: 218px;
    position: relative;
    margin-bottom: 15px;
}

.blockVideo img {
    height: 100%;
}

.blockAbsolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.28);
}

.elementPlay {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    margin-top: 10px;
}

.blockVideo img {
    width: 100%;
}

.textTestRex {
    font-family: "Ubuntu-Medium";
    font-size: 23px;
    line-height: 29px;
    letter-spacing: -0.221481px;
    color: #FFFFFF;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 12px;
}

.textMonde {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.221481px;
    color: #FFFFFF;
    text-align: center;
}

.blockProfilLeft {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 15px;
}

.btnTrais {
    background: none;
    padding: unset;
    border: none !important;
    float: right;
    margin-top: 10px;
    width: 24px;
    height: 24px;
}

.photoBlockProfil {
    width: 83px;
    height: 83px;
    border: 1px solid #d77a0d;
    border-radius: 100%;
    overflow: hidden;
    margin: 35px auto 10px;
}

.photoBlockProfil img {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.nameProfil {
    color: #1C1C1C;
    text-align: center;
    letter-spacing: -0.2px;
    font-size: 18px;
    font-family: "Ubuntu-Medium";
    margin-bottom: 3px;
}

.fonction {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #585757;
    margin-bottom: 3px;
}

.hrModife {
    background: #ff8a0038;
    margin-top: 0.6rem !important;
    margin-bottom: 0.5rem !important;
}

.entrepriseBlock {
    display: flex;
    margin-bottom: 5px;
}

.imgHome {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.entrepriseProfil {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.2px;
    color: #A4A4A4
}

.entrepriseProfil span {
    color: #d77a0d;
}

.pubSuivi {
    display: flex;
    justify-content: space-between;
}

.numberPub {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #1C1C1C;
    font-family: "Ubuntu-Medium";
    margin-bottom: 3px;
}

.pubText {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;
}

.annonnce {
    width: 100%;
    height: 176px;
    position: relative;
    margin-bottom: 15px;
}

.annonnce img {
    height: 100%;
    width: 100%;
}

.annonceText {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 0;
}

.particpe {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    font-family: "Ubuntu-Medium";
    width: 165px;
    padding-left: 15px;
}

.rectangle7 {
    display: flex;
    padding: 7px 10px;
    width: fit-content;
    background: white;
    float: right;
    border-radius: 6px;
    margin-right: 25px;
}

.rectangle7 img {
    width: 20px;
    margin-right: 5px;
    height: unset;
}

.obenirText {
    font-size: 10px;
    font-family: "Ubuntu-Medium";
    color: #d77a0d;
    margin-bottom: 0;
    margin-top: 2px;
}

.evenementText {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #1C1C1C;
    margin-bottom: 0;
}

.voirToutBnt {
    background: #d77a0d;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: fit-content;
    padding: 10px;
    font-family: "Ubuntu-Medium";
    border-radius: 8px;
}

.voirToutBnt img {
    width: 7px;
    margin-top: -2px;
}

.flexElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.blockDateEvenement {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.dateBlock {
    width: 55px;
    height: 60px;
    background: #FDF1E5;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 2px;
    margin-right: 3px;
}

.dayCalendar {
    font-size: 20px;
    margin-bottom: 2px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #FF881B;
    font-family: "Ubuntu-Medium";
}

.moisCalendar {
    font-size: 10px;
    margin-bottom: 2px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #FF881B;
}

.textDescription {
    font-size: 14px;
    margin-bottom: 2px;
    letter-spacing: -0.1px;
    color: #1C1C1C;
    width: 85%;
    font-family: "Ubuntu-Medium";
}

.dataTime {
    font-size: 10px;
    margin-bottom: 2px;
    letter-spacing: -0.1px;
    color: #969696;
}

.lorenDate {
    width: 70%;
}

.vertBlock .dateBlock {
    background: #E2F6E2;
}

.vertBlock .dayCalendar {
    color: #42AB44;
}

.vertBlock .moisCalendar {
    color: #42AB44;
}

.vertBlock .lorenDate {
    width: 70%;
}

.blockevenement {
    background: white;
    padding: 20px 15px 5px;
    margin-bottom: 15px;
}

.marketplace {
    position: relative;
}

.marketplace img {
    height: auto;
    width: 100%;
}

.blockProduit {
    background: rgba(255, 255, 255, 0.94);
    border-radius: 2px;
    padding: 2px 5px;
    width: fit-content;
    margin-top: 8px;
    margin-left: 8px;
}

.blockProduit p {
    font-size: 11px;
    margin-bottom: 0;
    letter-spacing: 0.587778px;
    text-transform: capitalize;
    font-feature-settings: 'liga' off;
    color: #22201E;
}

.blockTilteProduit {
    padding: 2px 18px;
    text-align: center;
    background: rgba(215, 122, 13, 0.35);
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.blockTilteProduit p {
    font-weight: 800;
    font-size: 8px;
    line-height: 5px;
    letter-spacing: 0.587778px;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    margin-bottom: 0;
    padding: 5px;
}

.blockPubMarketPlace {
    height: 185px;
    background: white;
    padding: 10px 15px 5px;
    margin-bottom: 15px;
}

.homeBlockOne .head {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-left: 30px;
    margin-bottom: 25px;
}

.homeBlockOne .head img {
    height: 12px;
    margin-right: 5px;
}

.homeBlockOne .head p {
    font-weight: 800;
    font-size: 19px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 0;
}

.rowCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
}

.rowCard .cardRex {
    position: relative;
    width: 32.5%;
    height: 127.47px;
    background: #FFFFFF;
    border: 1px solid #D5C3AD;
    box-sizing: border-box;
    box-shadow: 0px 6.37353px 12.7471px rgba(41, 41, 42, 0.07);
    border-radius: 5px;
    padding: 16px 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.rowCard .cardRex .titleCard {
    font-size: 15px;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    font-weight: 600;
    margin-bottom: 0;
}

.rowCard .cardRex .blockImg {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 20px;
}

.rowCard .cardRex .blockImg img {
    width: 100%;
}

a:hover {
    color: #d77a0d !important;
    text-decoration: unset !important;
}

.publierRex {
    display: none;
}

.homeBlockOneCategory {
    display: block;
}

.homeBlockOneCategory .head {
    display: flex;
    align-items: center;
    padding: 15px 20px 20px;
}

.homeBlockOneCategory .head .btnRetour {
    padding: 0;
}

.homeBlockOneCategory .head p {
    font-size: 18px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 0;
    font-family: "Ubuntu-Medium";
    margin-left: 5px;
}

.head2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head2 img {
    width: 9px;
    height: 16px;
}

.textPublier {
    font-size: 18px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 0;
    font-family: "Ubuntu-Medium";
    margin-left: 5px;
}

.touteslesPub {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.221481px;
    color: #D77A0D;
    margin-left: 3px;
    margin-bottom: 5px;
}

.textTitleOne {
    font-family: "Ubuntu-Medium";
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.221481px;
    text-decoration-line: underline;
    text-decoration-color: #969696;
    color: #1C1C1C;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 19px;
}

.head2 {
    width: 275px;
}

.icone7 {
    width: 10px;
}

.titleFormation {
    font-family: "Ubuntu-Medium";
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.221481px;
    text-decoration-color: #969696;
    color: #1C1C1C;
    margin-top: 15px;
    margin-bottom: 10px;
}

.nosFormationsTitle {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.221481px;
    text-decoration-color: #969696;
    color: #1C1C1C;
    margin-top: 15px;
    margin-bottom: 10px;
}

.photoAndInputPub {
    display: flex;
    padding: 0 15px 25px;
}

.photoAndInputPub .profilPhoto {
    width: 53px;
    height: 53px;
    overflow: hidden;
    border-radius: 100%;
}

.photoAndInputPub .profilPhoto img {
    width: 100%;
}

.btnInputPub {
    height: fit-content;
    padding: 14px 25px;
    color: #585757;
    font-size: 15px;
    margin: 0px 15px;
    white-space: nowrap;
    overflow: hidden;
    width: 95%;
    text-align: inherit;
    background: #FFFFFF;
    border: 1px solid #D77A0D;
    border-radius: 6.43px;
}

.pubBlok {
    width: 80%;
    border-bottom: 1px solid #969696;
    margin-bottom: 10px;
}

.pubBlok .textPublication {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.221481px;
    color: #626262;
    margin-left: 3px;
    margin-bottom: 5px;
    font-family: "Ubuntu-Medium";
    padding-right: 7px;
}

.blockDesPublication .cardPublication {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 25px 20px 20px;
}

.blockDesPublication .cardPublication .headElement {
    display: flex;
    justify-content: space-between;
}

.blockDesPublication .cardPublication .headElement .blockPhoto {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 15px;
}

.blockDesPublication .cardPublication .headElement .blockPhoto img {
    width: 100%;
}

.blockNameDate {
    width: 80%;
    padding-top: 5px;
}

.blockNameDate .nameProfilPub {
    font-size: 17px;
    font-family: "Ubuntu-Medium";
    margin-bottom: 0.5px;
    letter-spacing: -0.123148px;
    color: #1C1C1C;
}

.blockNameDate .heurePub {
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: -0.123148px;
    color: #969696;
}

.blockDesPublication .cardPublication .headElement .blockTroisPoint {
    width: 29px;
    border: none;
}

.blockDesPublication .cardPublication .headElement .blockTroisPoint:focus {
    outline: unset !important;
    border: none;
}

.blockDesPublication .cardPublication .contentCard {
    padding-top: 8px;
}

.contentCard .textDescriptionPublication {
    font-size: 15px;
    margin-bottom: 8px;
    color: #18191F;
    line-height: 20px;
}

.elementPub {
    margin-bottom: 20px;
    position: relative;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white, #fff);
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    padding-bottom: 0;
    height: 300px;
}

.elementPub video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.elementPub .feed-shared-image {
    background: none;
    border: none;
    padding: 0;
    font-size: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    cursor: pointer;
}
.elementPub .feed-shared-image img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.blockLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.blockLike .elementBtn {
    display: flex;
}

.partageSpace {
    display: flex;
}

.btnLike {
    align-items: center;
    font-size: 13px;
    padding: 5px 18px 4px 7px;
    height: fit-content;
    border-radius: 20px;
    margin-right: 10px;
}

.btnPertinent {
    border: 0.6px solid #d77a0d;
}

.btnInteressant {
    border: 0.6px solid #D7C30D;
}

.btnInteressant img {
    width: 13px;
}

.btnEnSavoirPlus {
    border: 0.6px solid #6D6D6D;
}

.btnLike img {
    width: 10px;
    margin: -2px 7px 0 1px;
}

.partageSpace img {
    width: 22px;
    height: fit-content;
    margin-top: 3px;
    margin-right: 5px;
}

.partageSpace .partageText {
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: -0.123148px;
    color: #969696;
}

.blockCompterLike {
    display: flex;
    margin-bottom: 18px;
}

.blockCompterLike .elementCompterLike {
    display: flex;
    margin-right: 18px;
}

.aimeIc {
    width: 15px;
    margin-right: 3px;
    height: fit-content;
    margin-top: 2px;
}

.likeInteresseIc {
    width: 16px;
    margin-right: 3px;
    height: fit-content;
    margin-top: 2px;
}

.aimeText {
    font-size: 14px;
    margin-bottom: 0;
    letter-spacing: -0.123148px;
    color: #969696;
}

.blockInputCommentaire {
    display: flex;
    border-bottom: 0.1px solid #e6e6e6;
    padding-bottom: 15px;
}

.blockInputCommentaire .photoCommentaire {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.blockInputCommentaire .photoCommentaire img {
    width: 100%;
}

.btnActive{
    background: #d77b32;
    color: white !important;
    font-weight: bold;
}

.blockCommente {
    display: flex;
    padding: 2px 10px;
    margin-left: 10px;
    border: 1px solid #eeeeee;
    width: 80%;
    margin-right: 13px;
}

.blockCommente textarea {
    border: none;
    padding: 0;
    width: 100%;
}

.blockCommente input:focus {
    border: none !important;
    outline: unset !important;
}

@media (-webkit-min-device-pixel-ratio:0) {
    .blockCommente input:focus {
        border: none !important;
        outline: unset !important;
    }
    input:focus,
    textarea:focus,
    keygen:focus,
    select:focus {
        outline-offset: unset !important;
    }
}

.btnEnvoyer {
    background: #d77a0d !important;
    color: white !important;
    align-self: center !important;
    padding: 8px 9px !important;
    font-family: "Ubuntu-Medium";
}

.photoInputFile {
    width: 44px;
    text-align: center;
    align-self: center;
}

.elementImgText {
    display: flex;
    align-items: center;
}

.elementImgText h5 {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.221481px;
    text-decoration-line: underline;
    color: #1C1C1C;
    text-decoration-color: #969696;
}

.elementImgText img {
    height: fit-content;
    margin-right: 10px;
}

.btnPublic {
    background: #d77a0d;
    font-size: 11.0741px;
    line-height: 13px;
    letter-spacing: 0.221481px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Ubuntu-Medium";
}

.btnPublic:hover {
    color: #FFFFFF;
}

.modal-header {
    align-items: center;
    border: none;
}

.dropdown-itemModife {
    font-size: 12px;
}

.modifeTextArea {
    width: 100%;
    min-height: 40%;
    max-height: 100%;
    resize: none;
    border: none;
}

.modifeTextArea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.formPublication {
    position: relative;
}

.btnGroup7 {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.modal-dialog {
    margin-bottom: 75px;
}

.nameDePublication {
    font-family: "Ubuntu-Medium";
    margin-bottom: 1px;
    padding-left: 8px;
    color: #2a2a2a;
    height: auto;
    padding-top: 3px;
}

.localisationPub {
    margin-bottom: 0;
    padding-left: 8px;
    font-size: 14px;
    color: #2a2a2a;
    height: auto;
}

.file-drag-handle {
    display: none;
}

.blockFormation {
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.blockVeilleCard {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 25px;
}

.blockNosFormation {
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 25px;
}

.blockFormationCard {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardFormation {
    width: 48%;
    background: #FFFFFF;
    border: 4px solid #D2A670;
    box-sizing: border-box;
    box-shadow: 0px 6.37353px 12.7471px rgba(41, 41, 42, 0.07);
    border-radius: 5.09883px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.imgCardFormation {
    background: #F4F5F7;
    border: 1px solid #F0CDA4;
    box-sizing: border-box;
    border-radius: 100px;
    width: 54px;
    height: 54px;
    text-align: center;
    padding-top: 13px;
}

.imgCardFormation2 {
    width: 54px;
    height: 54px;
}

.imgCardFormation2 img {
    width: 100%;
}

.imgCardFormation img {
    width: 24px;
}

.titleCardFormation {
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 0;
    width: 65%;
    text-align: left;
}

.hrModife2 {
    border: 2px solid #E8E8E8;
    margin-left: 15px;
    width: 70%;
    margin-top: 21px;
}

.cardNosFormations {
    border-radius: 6px;
    height: 154px;
    text-align: center;
    margin-bottom: 2px;
    position: relative;
}

.firstformation {
    background: #747D7A;
}

.secondformation {
    background: #DED8EC;
}

.treeformation {
    background: #CEA6C4;
}

.titleNosFormations {
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

.titleNosFormations2 {
    font-style: normal;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
}

.imgBlockNosFormations {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 118px;
    height: 100px;
    margin: auto;
}

.secondformation .imgBlockNosFormations {
    width: 91px;
    height: 52px;
}

.treeformation .imgBlockNosFormations {
    width: 91px;
    height: 52px;
}

.imgBlockNosFormations img {
    width: 100%;
}

.swiper-slide-Modife1 {
    height: fit-content !important;
}

.swiper-wrapper {
    height: auto !important;
}

.textCopyright1 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #755D42;
    text-align: center;
}

.cardDemanderUneFormation {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px 50px;
}

.formFormation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.colM {
    width: 48%;
}

.colL {
    width: 100%;
}

.labelFormation {
    font-size: 14px;
    line-height: 16px;
    color: #1A1A1A;
}

.inputFormation {
    background: #FFFFFF;
    border: 1.5px solid #767676;
    box-sizing: border-box;
    border-radius: 3px;
    height: calc(1.5em + .75rem + 5px) !important;
    color: #D77A0D !important;
}

.inputAccount:focus {
    color: #D77A0D !important;
    background-color: #fff;
    border-color: #D77A0D !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #d77a0d0d !important;
}

.selectModife {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent url("../img/selectDown.png") no-repeat 95% center !important;
}

.selectModife1 {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent url("../img/selectDown.png") no-repeat 98% center !important;
}

.btn.focus,
.btn:focus {
    box-shadow: unset !important;
}

.btn-demande {
    background: #D77A0D;
    color: white;
    font-family: "Ubuntu-Medium";
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 23px;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    width: 100%;
}

.btn-demande:hover {
    color: white !important;
}

.groupContinuer {
    width: 80%;
    margin: 0 auto;
}

.blockDemander {
    display: none;
}

.btnRetourDemande {
    margin-left: -19px;
    height: 57px;
}

.btnRetourDemande img {
    width: 100%;
}

.blockFooterMap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btnPublier2 {
    border: 1px solid #d77a0d;
    color: #d77a0d;
    padding: 5px 25px;
    font-size: 15px;
}

.btnGroupVeille {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 25px;
}
.btnGroupVeille::-webkit-scrollbar {
    display: none !important;
}
@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none))
{
    .btnGroupVeille::-webkit-scrollbar {
        display: none !important;
    }
}

.btnVeille {
    background: #FFFFFF;
    border: 4px solid #D2A670;
    box-sizing: border-box;
    box-shadow: 0px 6.37353px 12.7471px rgba(41, 41, 42, 0.07);
    border-radius: 5.09883px;
    font-size: 13px !important;
    color: #18191F;
    padding: 8px 9px;
    height: fit-content;
    width: fit-content;
    font-family: "Ubuntu-Medium";
}

.iconeVeilleBnt {
    width: 19px !important;
    margin-right: 3px;
}

.btnGroupVeille .active {
    background: #D77A0D;
    color: #FFFFFF;
}

.filtreVeille {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtreText {
    font-weight: 600;
    font-size: 13.1px;
    line-height: 22px;
    letter-spacing: -0.006em;
    color: #5B5B5B;
    margin-bottom: 0;
    width: 18%;
}

.inputFiltre {
    display: flex;
    justify-content: space-between;
}

.inputFiltre select {
    width: 69%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 10px;
    margin-right: 10px;
}

.oneProductsVeille {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    filter: drop-shadow(0px 14.6455px 39.0548px rgba(45, 48, 58, 0.06));
    align-items: center;
}
.oneProductsVeille2 {
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0px 14.6455px 39.0548px rgba(45, 48, 58, 0.06));
    align-items: center;
    background: #FFFFFF;
    border: 0.611842px solid #CACACA;
    box-sizing: border-box;
    border-radius: 5.48517px;
    padding: 7px 10px;
    margin: 0 15px 15px;
}

.imgElementVeille2 {
    overflow: hidden;
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
}
.imgElementVeille2 img{
    width: 100%;
    display: block;
    margin: 25px auto;
}
.imgElementVeille {
    width: 165px;
    height: 115px;
    overflow: hidden;
    position: relative;
}
.imgElementVeille3 {
    width: 114px;
    overflow: hidden;
    position: relative;
}
.imgElementVeille3 img{
    width: 100%;
}

.imgElementVeille img {
    width: 100%;
    border-radius: 8.7637px;
    -webkit-border-radius: 8.7637px;
    -moz-border-radius: 8.7637px;
    -ms-border-radius: 8.7637px;
    -o-border-radius: 8.7637px;
}

.abosluteBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000040;
}
.abosluteBackground2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.recommandeB {
    position: absolute;
    font-size: 8px;
    background: #D77A0D;
    color: #FFFFFF;
    right: 3px;
    top: 4px;
    z-index: 11;
    font-family: "Ubuntu-Medium";
    padding: 1px 5px;
    border-radius: 6px;
}

.vueCommentaireProduits {
    position: absolute;
    bottom: 4px;
    left: 8px;
    display: flex;
    border-top: 0.457673px solid #f2f2f27a;
    width: 100%;
    padding-top: 7px;
}

.vueCommentaireProduits .vue {
    display: flex;
    margin-right: 15px;
}

.vueCommentaireProduits .vue img {
    width: 14px;
    margin-right: 5px;
}

.vueCommentaireProduits .vue p {
    font-size: 12px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.vueCommentaireProduits .commentaire {
    display: flex;
    margin-right: 15px;
}

.vueCommentaireProduits .commentaire img {
    width: 14px;
    margin-right: 5px;
}

.vueCommentaireProduits .commentaire p {
    font-size: 12px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.titleFab {
    font-family: "Ubuntu-Medium";
    font-size: 15.2558px;
    margin-bottom: 8px;
    color: #2D2D2D;
}

.fabriquantProduits {
    height: fit-content;
    width: 43%;
}

.fabriquantProduits2 {
    height: fit-content;
    width: 56%;
}
.numberProduit{
    font-size: 14px;
    margin-bottom: 5px;
}

.desFab {
    padding-left: 6px;
}

.desFab li {
    font-size: 10.9842px;
    margin-bottom: 10px;
    color: #18191F;
}

.fabImgBlock {
    display: flex;
}

.fabImgBlock .vectorF {
    width: 12px;
    height: fit-content;
    margin-right: 5px;
}

.fabImgBlock .logoF {
    width: 49px;
    margin-top: -1px;
}

.fabImgBlock p {
    font-size: 10px;
    margin-bottom: 0;
    color: #18191F;
    margin-left: 5px;
}

.priceBlock {
    background: #F9F9F9;
    border: 0.610231px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 5.49208px;
    padding: 10px;
    height: fit-content;
    width: 19%;
}

.priceBlock p {
    font-size: 20px;
    position: relative;
    font-family: "Ubuntu-Medium";
    color: #454544;
    margin-bottom: 5px;
    text-align: center;
}

.priceBlock .active {
    color: #D77A0D;
}

.nextDecouvrir {
    width: 5px;
}

.priceBlock p span {
    font-weight: 400;
    font-size: 10px;
    color: #454544;
    position: absolute;
    top: -5px;
    right: 0;
}

.priceBlock .active span {
    color: #D77A0D;
}

.decouvrirBtn {
    font-family: "Ubuntu-Medium";
    font-size: 9.39756px;
    text-align: center;
    color: #D77A0D;
    background: #FFFFFF;
    border: 0.610231px solid #D77A0D;
    box-sizing: border-box;
    box-shadow: 0px 2.04357px 8.17426px rgba(255, 87, 34, 0.32);
    border-radius: 4.27162px;
    padding: 4px 10px;
}

.nauvautesBlock {
    display: none;
}

.headRectangle {
    background: #FFE6C9;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    border-radius: 4.77876px;
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 20px;
}

.fiabliteserviceBlock {
    display: flex;
    width: 33%;
}

.blockImgNProduit {
    width: 100%;
    height: 122px;
    overflow: hidden;
    position: relative;
}

.blockImgNProduit img {
    height: 100%;
    width: 100%;
}

.cardNouvauteProduit {
    width: 32.5%;
    margin-bottom: 15px;
}

.elementIcone {
    width: 29px;
    height: 29px;
    margin-right: 3px;
}

.elementIcone img {
    width: 100%;
}

.el2 {
    width: 33px !important;
}

.automatisationText {
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.0112em;
    text-transform: uppercase;
    color: #0F0F0F;
    margin-bottom: 2px;
}

.automatisationText2 {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.0035em;
    color: #D77A0D;
    font-family: "Ubuntu-Medium";
    margin-bottom: 0;
}

.fiabliteText {
    font-size: 12.6px;
    margin-bottom: 2px;
    letter-spacing: -0.0058em;
    color: #33334F;
    font-family: "Ubuntu-Medium";
}

.sedText {
    font-size: 10.17px;
    margin-bottom: 0;
    letter-spacing: -0.0033em;
    color: #5F5F61;
}

.titleCardNProduit {
    font-size: 12.6px;
    line-height: 13px;
    letter-spacing: -0.0035em;
    color: #0B0B0C;
    margin-top: 3px;
    margin-bottom: 2px;
    font-family: "Ubuntu-Medium";
}

.groupCardNProduit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blockOrangeHover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 8px;
    opacity: 0;
    background: linear-gradient(0deg, rgba(218, 174, 123, 0.85), rgba(218, 174, 123, 0.85));
}

.blockImgNProduit:hover .blockOrangeHover {
    opacity: 1;
}

.likeIconeText {
    margin-left: auto;
    display: flex;
    width: 50px;
    align-items: center;
}

.likeIconeText p {
    font-weight: 600;
    font-size: 10.7559px;
    letter-spacing: 0.0112em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 5px;
    margin-bottom: 0;
}

.likeIconeText img {
    width: 10px;
}

.blockOeicart {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0.662431px 2.64972px 29.1469px rgb(0 0 0 / 3%);
    border-radius: 4.63701px;
    width: 75px;
    padding: 7px 12px;
    height: 32px;
    margin: 20px auto 0;
}

.blockOeicart a img {
    width: 17px;
    height: 16px;
}

.ideeBlock {
    display: none;
}

.blockInput2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18px;
}

.blockInput2 .form-group label {
    font-size: 14px;
    line-height: 16px;
    color: #1A1A1A;
    margin-bottom: 5px;
}

.blockInput2 .form-group .form-control {
    background: #FFFFFF;
    border: 1.47977px solid #908F94;
    box-sizing: border-box;
    border-radius: 2.95954px;
}

.flexElement2 {
    display: flex;
    flex-wrap: wrap;
}

.flexElement2 textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1.47977px solid #908F94;
    box-sizing: border-box;
    border-radius: 2.95954px;
}

.btnSoomettreIdee {
    background: #D77A0D;
    width: 300px;
    margin: 0 auto 0;
    color: #FFFFFF;
    font-size: 14px;
    padding: 12px;
    font-family: "Ubuntu-Medium";
}
.btnSoomettreIdee:hover{
    color: #ffffff !important;
}

.file-input {
    width: 100%;
}

.kv-file-content img {
    width: 100% !important;
}

.elementJustify {
    display: flex;
    width: 90%;
    bottom: 0;
    position: absolute;
    right: 0;
    justify-content: flex-end;
}

.swiper-wrapper .active {
    background: #D77A0D;
    color: #FFFFFF;
}

.mySwipe {
    padding-left: 15px;
    padding-bottom: 20px;
}

.titleNoAbonne {
    font-size: 16.15px;
    margin-bottom: 15px;
    letter-spacing: -0.221481px;
    text-decoration-line: underline;
    color: #1C1C1C;
    font-weight: 600;
    margin-left: 10px;
}

.cardNoAbonne {
    background: rgba(255, 230, 201, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    border-radius: 4.77876px;
    text-align: center;
    margin: 0 15px 20px;
    padding: 20px 15px;
    position: relative;
}

.griseBlock {
    position: absolute;
    width: 100%;
    height: 40%;
    background: #fde8ceb8;
    left: 0;
    top: 0;
}

.blockNoAbonne {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 20px 10px 10px;
}

.blockideeAmelioration {
    display: none;
}

.ICO {
    width: 25px;
    margin: 0 auto 15px;
}

.pasAbonneText {
    color: #33334F;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.0058em;
    margin-bottom: 14px;
}

.accessServiceText {
    color: #5F5F61;
    letter-spacing: -0.0033em;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 27px;
}

.btnVousAbonne {
    font-style: normal;
    font-family: "Ubuntu-Medium";
    font-size: 15.4px;
    line-height: 18px;
    text-align: center;
    color: #D77A0D;
    background: #FFFFFF;
    border: 1px solid #D77A0D;
    box-sizing: border-box;
    box-shadow: 0px 3.34884px 13.3953px rgb(255 87 34 / 32%);
    border-radius: 7px;
    width: 65%;
    margin: 0 auto;
    padding: 13px;
    position: relative;
    margin-bottom: 12px;
}

.btnVousAbonne img {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 8px;
}

.blockPrix {
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    align-items: center;
}

.pricePromo {
    display: flex;
}

.prixNormal {
    font-style: normal;
    font-family: "Ubuntu-Medium";
    font-size: 17px;
    line-height: 30px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 3px;
    margin-right: 8px;
}

.fauxPrix {
    font-style: normal;
    font-family: "Ubuntu-Medium";
    font-size: 13px;
    line-height: 30px;
    text-decoration-line: line-through;
    font-feature-settings: 'liga' off;
    margin-bottom: 3px;
    color: #DE1A23;
}

.pourcentagePromotion {
    font-size: 12.17px;
    padding: 3px 8px;
    height: 23px;
    color: #18191F;
    background: #91DE85;
    border-radius: 2px;
    margin-bottom: 0;
}

.reponseCommentaireBlock {
    padding-left: 20px;
    margin-bottom: 18px;
}

.sousReponseCommentaireBlock {
    padding-left: 40px;
}

.headResponseCommenatire {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 15px 0 12px;
}

.imgProfilResponse {
    width: 37px;
    height: 37px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    overflow: hidden;
}

.imgProfilResponse img {
    width: 100%;
}

.nameResponse {
    font-weight: 600;
    font-size: 15px;
    margin: 0 15px 0;
    color: #1C1C1C;
}

.timeResponse {
    font-weight: normal;
    font-size: 14.136px;
    margin-bottom: 0;
    letter-spacing: -0.1178px;
    color: #969696;
}

.responseCommentaireText {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 8px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    padding: 0 2px;
}

.sousResponseCommentaireText {
    font-weight: normal;
    font-size: 15.28px;
    line-height: 24px;
    letter-spacing: -0.2356px;
    margin-bottom: 8px;
    padding: 0 2px;
    color: #585757;
}

.likeBlockResponse {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.elementLikeResponse {
    display: flex;
    align-items: center;
    padding: 0;
}

.elementLikeResponse img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.elementLikeResponse p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
    letter-spacing: -0.1178px;
    color: #969696;
}

.prevWebinar {
    width: 10px;
}

.barRight {
    width: 21px;
    height: 21px;
    margin: 0 17px;
}

.organiserUnWebinar {
    padding: 13px 25px;
}

.headOrganiserUnWebinar {
    display: flex;
    align-items: center;
}

.modifeTextArea2 {
    width: 100%;
}

.image-input {
    text-aling: center;
}

.image-input input {
    display: none;
}

.image-input label {
    display: block;
    cursor: pointer;
}

.image-input label i {
    font-size: 125%;
    margin-right: 0.3rem;
}

.image-input label:hover i {
    animation: shake 0.35s;
}

.image-input img {
    max-width: 100%;
    width: 100%;
    display: none;
}

.imageBannier {
    display: block !important;
    width: 100%;
    max-width: 100% !important;
}

.image-input span {
    display: none;
    text-align: center;
    cursor: pointer;
}

.blocksContentPublierOffre {
    display: none;
    padding: 15px 25px;
}

.col-ting {
    width: 100%;
    margin-top: 10px;
}

.file-upload .image-box {
    background: url("../img/imgOffre.png") no-repeat center;
    cursor: pointer;
    overflow: hidden;
    height: 200px;
}

.file-upload .image-box img {
    height: 100%;
    display: none;
}

.file-upload .image-box p {
    position: relative;
    top: 43%;
    color: #fff;
    font-size: 13px;
    max-width: 80%;
    margin: 0 auto;
}

.cardIdeeAmelioration {
    filter: drop-shadow(0px 14.6455px 39.0548px rgba(45, 48, 58, 0.1));
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 5.49208px;
    margin: 0 15px 20px;
    padding: 15px 15px;
    display: flex;
    position: relative;
}

.cardIdeeAmelioration:hover {
    cursor: pointer;
}

.modal-header-modife {
    display: flex;
    border-bottom: 2px solid #969696;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    padding-left: 40px;
    padding-top: 23px;
}

.modal-header-modife p {
    font-family: "Ubuntu-Medium";
    font-size: 15.2558px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #2D2D2D;
    margin-bottom: 5px;
}

.modal-header-modife img {
    width: 38px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.modalEtudeMarche ul li {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 20px;
}

.footerEtude {
    display: flex;
    margin: 5px auto;
    align-items: center;
}

.suggereText {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    font-feature-settings: 'liga' off;
    color: #D77A0D;
    margin-bottom: 0;
}

.auteurSuggere {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0 10px;
}

.auteurSuggere img {
    width: 100%;
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 674px !important;
    }
}

.produitIdee {
    position: absolute;
    top: 8px;
    right: 8px;
    margin-bottom: 0;
    font-size: 13px;
    font-family: "Ubuntu-Medium";
    background: #d77b32;
    color: white;
    padding: 1px 10px;
}

.elementImgCard {
    width: 87px;
    align-items: center;
    align-self: center;
}

.hrModife4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-right: 2px solid #969696;
    height: 59px;
    padding-left: 5px;
}

.elementsText {
    margin-left: 20px;
}

.elementsText .title {
    font-family: "Ubuntu-Medium";
    font-size: 15.2558px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #2D2D2D;
    margin-bottom: 10px;
    width: 146px;
}

.elementsText ul {
    padding-left: 15px;
    color: #4c4c4c;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 18px;
}

.footerEtude .auteur {
    font-family: "Ubuntu-Medium";
    font-size: 13px;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #292929;
    margin-bottom: 0;
}
.blockAvisPese{
    display: flex;
    background: #FFE6C9;
    border: 1px solid rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    border-radius: 4.77876px;
    padding: 15px 10px;
    margin-bottom: 25px;
}
.blockAvisPese img{
    width: 41px;
    margin-right: 15px;
}
.blockAvisPese p{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.006em;
    color: #1E1E1E;
    margin-bottom: 0;
    width: 350px;
}
.inputNotation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.labelDomaine{
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.006em;
    color: #5B5B5B;
    width: 30%;
    margin-bottom: 0;
}
.inputNotation select{
    width: 70%;
}
.inputNotation2{
    display: flex;
}
.vsText {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #282828;
    margin-top: 12px;
    width: 21%;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > .inputModifeElement1:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #f9df4a;
}
.rate > .inputModifeElement1:checked + label:hover,
.rate > .inputModifeElement1:checked + label:hover ~ label,
.rate > .inputModifeElement1:checked ~ label:hover,
.rate > .inputModifeElement1:checked ~ label:hover ~ label,
.rate > .inputModifeElement1:hover ~ input:checked ~ label {
    color: #f9df4a;
}

.rating label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rating label:not(:first-of-type) {
    padding-right: 2px;
}
.rating label:before {
    content: '★ ';
}
.rating .inputModifeElement {
    display: none;
}
.rating .inputModifeElement:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
    color: #f9df4a;
}
.selectPA {
    width: 45%;
}
.selectPA2 {
    width: 46%;
}
.vsText2 {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #282828;
    margin-top: 12px;
    margin-bottom: 0;
    width: 8%;
}
.selectModifeVeille2 option{
    font-weight: bold !important;
    font-size: 13px !important;
    line-height: 16px !important;
    color: #282828 !important;
}
.rating {
    float: left;
}
.elementClassementFabriquant{
    display: none;
}
.elementClassementProduit{
    display: none;
}
.spanEtoile{
    float: right;
    width: 24px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 23px;
    color: #ccc;
}
.spanEtoile:before {
    content: '★ ';
}
.etoileBlock{
    display: flex;
}
.BlockNumberEtoile{
    text-align: center;
}
.numberEtoile{
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #D77A0D;
    margin-bottom: 0;
}
.spanEtoileExistant{
    color: #f9df4a;
}
.numberNoEtoile{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #434343;
    margin-bottom: 0;
}
.modalModife{
    position: relative;
}
.modalModife .modal {
    margin-top: 55px !important;
    right: 16px !important;
    left: unset !important;
}
.modal-backdrop {
    background-color: #0000 !important;
    width: 100%;
}
.modalModife .modal .modal-dialog {
    max-width: unset;
    width: fit-content;
    margin: 25px 0px 15px auto !important;
    display: block;
}
.blockContact {
    margin-top: 130px;
}
.modalModifeProfil{
    display: none;
}

.modalModifeProfil {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000000ad;
}
.photoBlockProfilInput{
    display: none;
}
.photoProfilContent .image-input {
    text-aling: center;
}
.photoProfilContent .image-input input {
    display: none;
}
.photoProfilContent .image-input label {
    width: 83px;
    height: 83px;
    border: 1px solid #d77a0d;
    border-radius: 100%;
    overflow: hidden;
    margin: 35px auto 10px;
    cursor: pointer;
}
.photoProfilContent .image-input label img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 0;
}
.photoProfilContent .image-input label:hover img {
    animation: shake .35s;
}
.photoProfilContent .image-input img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 0;
    display: none;
}
.photoProfilContent .image-input span {
    display: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 25px;
}
.modal-dialogModife {
    max-width: 600px !important;
    margin-top: 90px;
}
.modalBbody form{
    margin-top: -25px;
    padding: 20px;
}
.contentInput{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.btnEnregistrer {
    background: #d77a0d !important;
    color: white !important;
    font-family: "Ubuntu-Medium";
    margin-right: 15px;
}
textarea {
    resize: none !important;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}
.swiper-button-next, .swiper-button-prev {
    width: 25px !important;
    height: 25px !important;
    color: #ff7100 !important;
    background: white;
    border-radius: 100%;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px !important;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
}


.mySwiper2 {
    height: 300px;
    margin-bottom: 25px;
    border-radius: 20px;
}
.mySwiper2 img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mySwiper2 .swiper-wrapper .swiper-slide{
    height: 300px;
}
.mySwiper2 .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media all and (min-width: 300px) and (max-width: 767px) {
    .blockGeneral1 {
        display: flex;
    }
    .blockDrapreau {
        justify-content: end;
        margin: 0 auto;
        width: 100%;
        flex-wrap: wrap;
    }
    .blockMap {
        position: relative;
        display: flex;
        align-items: end;
        margin-right: 10px;
        margin-top: 5px;
        top: unset;
        right: unset;
    }
    .nav-toute {
        margin-bottom: 15px;
        margin-left: 5px;
        width: fit-content;
    }
    .btnModifeSearch {
        right: 10px;
        top: 6px;
    }
    .circleImgNav {
        display: none;
    }
    .nav-item {
        width: fit-content;
    }
    .navbar-nav {
        flex-direction: unset !important;
        flex-wrap: wrap;
    }
    .activeNav {
        border-bottom: 2px solid #D77A0D;
        width: fit-content;
    }
    .contentPageGeneral {
        display: block;
    }
    .blockleft {
        width: 100%;
        position: relative;
        overflow: unset;
        left: unset;
        padding-bottom: 40px;
        height: auto;
    }
    .contentPage {
        width: 100%;
        margin-left: unset;
    }
    .blockRight {
        width: 100%;
        position: relative;
        overflow: unset;
        right: unset;
    }
    .blockLike {
        flex-wrap: wrap;
    }
    .blockLike .elementBtn {
        display: flex;
        flex-wrap: wrap;
    }
    .btnLike {
        margin-bottom: 13px;
    }
    .homeBlockOne .head {
        padding-top: 10px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .blockCompterLike .elementCompterLike {
        margin-right: 16px;
    }
    .homeBlockOne .head p {
        font-weight: 800;
        font-size: 16px;
        height: unset;
        color: #18191F;
        margin-bottom: 0;
    }
    .rowCard {
        padding: 0 20px;
    }
    .rowCard .cardRex {
        position: relative;
        width: 48.5%;
        padding: 15px 8px;
    }
    .rowCard .cardRex .titleCard {
        font-size: 14px;
        line-height: 18px;
    }
    .blockFormationCard {
        flex-wrap: wrap;
    }
    .cardFormation {
        width: 100%;
        margin-bottom: 20px;
    }
    .hrModife2 {
        width: 53%;
    }
    .nosFormationsTitle {
        font-size: 15px;
    }
    .cardDemanderUneFormation {
        padding: 0px 15px;
    }
    .btnInputPub {
        white-space: nowrap;
        width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .homeBlockOneCategory .head p {
        font-size: 14px;
        line-height: 30px;
    }
    .elementImgText h5 {
        font-size: 16px;
        line-height: 22px;
    }
    .btnGroupVeille {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        flex-wrap: wrap;
    }
    .btnVeille {
        margin-bottom: 15px;
    }
    .filtreVeille {
        flex-wrap: wrap;
    }
    .oneProductsVeille {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
    .desFab {
        padding-left: 13px;
    }
    .priceBlock {
        width: 50%;
    }
    .imgElementVeille img {
        width: unset;
        height: 100%;
    }
    .likeBlockResponse {
        display: flex;
        justify-content: space-between;
        width: 75%;
    }
    .headResponseCommenatire {
        width: 100%;
    }
    .hrModife3 {
        width: 18%;
    }
    .griseBlock {
        height: 50%;
    }
    element.style {}
    .hrModife4 {
        border: 0;
        border-right: 2px solid #969696;
        height: 65px;
        padding-left: 5px;
        position: absolute;
        left: 64px;
        top: 17%;
        bottom: 0;
    }
    .btnVousAbonne {
        width: 80%;
    }
    .cardNouvauteProduit {
        width: 49%;
        margin-bottom: 15px;
    }
    .labelDomaine {
        width: 50%;
    }
    .rate:not(:checked) > label {
        font-size: 22px;
    }
    .rating label {
        font-size: 22px;
    }
    .imgElementVeille2 img {
        height: inherit;
    }
    .logoF1 {
        height: fit-content;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .contentPageGeneral {
        display: flex;
        flex-wrap: wrap;
    }
    .blockleft {
        width: 30%;
        left: 20px;
    }
    .contentPage {
        width: 70%;
        margin-left: 32%;
    }
    .blockRight {
        display: block;
        position: relative;
        width: 70%;
        right: 0;
        height: fit-content;
        left: 32%;
    }
    .blockLike {
        flex-wrap: wrap;
    }
    .blockLike .elementBtn {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .btnLike {
        margin-bottom: 15px;
    }
    .evenementText {
        font-size: 16px;
    }
    .btnInputPub {
        white-space: nowrap;
        width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .homeBlockOneCategory .head p {
        font-size: 14px;
        line-height: 30px;
    }
    .elementImgText h5 {
        font-size: 16px;
        line-height: 22px;
    }
    .likeBlockResponse {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .headResponseCommenatire {
        width: 60%;
    }
    .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: initial;
    }
    .navbar-nav li {
        width: fit-content;
        margin-right: 10px;
        margin-bottom: 6px;
    }
    .hrModife3 {
        width: 44%;
    }
    .rowCard {
        padding: 0 20px;
    }
    .rowCard .cardRex {
        position: relative;
        width: 48%;
        height: 125px;
        padding: 16px 10px;
    }
    .btnGroupVeille {
        flex-wrap: wrap;
        justify-content: end;
    }
    .btnVeille {
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .oneProductsVeille {
        flex-wrap: wrap;
    }
    .fabriquantProduits {
        width: 58%;
    }
    .priceBlock {
        width: 35%;
        margin-top: 15px;
    }
}