@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../font/Ubuntu-Bold.woff2") format("woff2"), url("../font/Ubuntu-Bold.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-BoldItalic";
    src: url("../font/Ubuntu-BoldItalic.woff2") format("woff2"), url("../font/Ubuntu-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-Italic";
    src: url("../font/Ubuntu-Italic.woff2") format("woff2"), url("../font/Ubuntu-Italic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("../font/Ubuntu-Light.woff2") format("woff2"), url("../font/Ubuntu-Light.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-LightItalic";
    src: url("../font/Ubuntu-LightItalic.woff2") format("woff2"), url("../font/Ubuntu-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../font/Ubuntu-Medium.woff2") format("woff2"), url("../font/Ubuntu-Medium.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-MediumItalic";
    src: url("../font/Ubuntu-MediumItalic.woff2") format("woff2"), url("../font/Ubuntu-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../font/Ubuntu-Regular.woff2") format("woff2"), url("../font/Ubuntu-Regular.woff") format("woff");
}

body {
    background: #F8F8F8;
    font-family: "Ubuntu-Regular";
}

.nav-linkModife {
    color: #252C32 !important;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.blockNav nav {
    padding: .5rem 70px;
}

.elementTextHide {
    display: none;
}

.elementTextHide2 {
    display: none;
}

.activeNav {
    border-bottom: 2px solid #D77A0D;
    font-family: "Ubuntu-Medium";
}

.activeNav .nav-linkModife {
    color: #D77A0D !important;
}

.navbar-expand-lg .navbar-nav .nav-linkModife {
    padding-right: 13px;
    padding-left: 13px;
}

.navLogo {
    width: 80px;
}

.navLogo img {
    width: 100%;
}

.itemConnecte {
    margin-left: 30px;
    margin-right: 20px;
}

.nav-connecte {
    background: #D77A0D;
    color: #ffffff !important;
    font-size: 14px;
    padding: 7px 15px !important;
}

.flecheCarousel {
    position: relative;
    max-width: 200px;
    margin: 40px auto;
    z-index: 1;
}

.cardslide {
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0px 16.9253px 4.23133px rgb(0 0 0 / 10%);
    border: 1px solid #f5f5f5c7;
    margin-right: 20px;
}

.cardslide img {
    width: 100%;
}

.itemModife {
    height: 412px;
    overflow: hidden;
}

.carousel-indicators li {
    background-color: #9A9A9A;
}

.carousel-indicators .active {
    background-color: #D77A0D;
}

.textFaire {
    color: #222831;
    font-size: 16px;
    margin-bottom: 0px;
}

.textFaire2 {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 10px;
}

.textExpertise {
    color: #222831;
    font-size: 16px;
    margin-bottom: 10px;
}

.hrFaire {
    background: #222831;
    width: 73px;
    height: 1px;
    position: absolute;
    left: 20px;
    bottom: -5px;
}

.hrFaire2 {
    background: #FFFFFF;
    width: 73px;
    height: 1px;
    position: absolute;
    left: 200px;
    bottom: 5px;
}

.dflex {
    display: flex;
    position: relative;
}

.groupFaire {
    display: flex;
    align-items: center;
}

.nos-dommaines {
    color: #10375C;
    font-size: 35px;
    margin-bottom: 15px;
    font-family: "Ubuntu-Medium";
    width: 342px;
    line-height: 40px;
}

.experienceCle {
    color: #9A9A9A;
    font-size: 17px;
    text-align: center;
    width: 400px;
}

.blockChevron {
    margin-left: auto;
}

.btn-chevron {
    width: 57px;
    margin: 0 20px;
}

.btn.focus,
.btn:focus {
    box-shadow: unset !important;
}

.blockSlideFaire .carousel-wrap .owl-carousel .owl-nav {
    position: absolute;
    top: -169px;
    width: 165px;
    height: 150px !important;
    right: 0;
    padding: 0 50px;
}

.owl-carousel.owl-loaded {
    position: relative;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #D77A0D !important;
}

.blockSlideFaire .carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
}

.blockSlideFaire .carousel-wrap .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}

.blockSlideFaire .carousel-wrap .owl-carousel .item {
    text-align: center;
    position: relative;
}

.blockSlideFaire .carousel-wrap .owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.blockSlideFaire .carousel-wrap .owl-carousel .owl-prev.disabled,
.blockSlideFaire .carousel-wrap .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.blockSlideFaire .carousel-wrap .owl-carousel .prev-slide {
    left: 20px;
}

.blockSlideFaire .carousel-wrap .owl-carousel .next-slide {
    right: 40px;
}

.blockSlideFaire .carousel-wrap .owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.blockSlideFaire .carousel-wrap .owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 19px;
    display: block;
    text-transform: uppercase;
    font-family: "Ubuntu-Medium";
    color: #222831;
    margin-top: 15px;
}

span.img-text:hover {
    color: #2caae1;
}

.blockSlideFaire .carousel-wrap .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
    height: 400px;
    overflow: hidden;
}

.imgBlockItem {
    height: 352px;
    overflow: hidden;
}

.imgBlockItem img {
    width: 100%;
}

.btnSavoirPLus {
    position: absolute;
    bottom: 25px;
    background: #D77A0D;
    padding: 10px 15px;
    text-align: center !important;
    color: #FFFFFF;
    font-family: "Ubuntu-Medium";
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.btnSavoirPLus img {
    width: 31px !important;
}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 352px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1A214B;
}

.item:hover .overlay1 {
    opacity: 1;
}

.ImgOverlayPattern {
    position: absolute;
    top: 0;
    right: 0;
    width: 98px !important;
}

.textOverlay {
    color: white;
    font-size: 31px;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* transform: translate(-30%, -30%); */
    text-align: center;
}

.descriptionOverlay {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    line-height: 25px;
    width: 85%;
    text-align: center;
}

.item:hover .btnSavoirPLus {
    position: absolute;
    bottom: 0;
}

.item:hover .overOne {
    bottom: 48px;
}

.btnSavoirPLus span {
    padding: 2px 15px;
}

.btnSavoirPLus:hover {
    color: #FFFFFF;
}

.owl-theme .owl-dots {
    margin-top: 15px;
}

.textConfiance {
    font-size: 33px;
    text-align: center;
    margin-bottom: 10px;
    color: #0D2C4A;
    font-family: "Ubuntu-Medium";
}

.textBlockHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blockAdapte {
    padding: 0 60px;
    margin-bottom: 40px;
}

.solutionsAdapte {
    font-size: 33px;
    line-height: 35px;
    color: #10375C;
    font-family: "Ubuntu-Medium";
    width: 380px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.bigText {
    font-weight: normal;
    color: #9A9A9A;
    font-size: 16px;
    text-align: center;
    margin-bottom: 35px;
}

.blockFaire {
    margin-bottom: 35px;
}

.imgPartener {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.imgPartener img {
    height: 30px;
}

.cardTemoignage {
    width: 100%;
    background: #172850;
    padding: 30px;
    position: relative;
    height: 280px;
}

.textClient {
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 20px;
    text-align: left;
}

.client {
    position: absolute;
    bottom: 20px;
    display: flex;
}

.avatarBlock {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 20px;
}

.avatarBlock img {
    width: 100%;
}

.nameClient {
    font-family: "Ubuntu-Medium";
    font-size: 15px;
    margin-bottom: 2px;
    color: #FFFFFF;
}

.role {
    font-size: 14px;
    margin-bottom: 3px;
    color: #FFFFFF;
}

.group7 {
    text-align: initial;
}

.blockConfiance {
    margin-bottom: 65px;
}

.Confiance2 .carousel-wrap .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
    height: unset !important;
}

.elementContentRejoindre {
    display: flex;
    justify-content: space-between;
}

.elementContentRejoindre .block1 {
    width: 35%;
    padding: 50px 0 30px;
}

.rejoindreText {
    font-size: 35px;
    font-family: "Ubuntu-Medium";
    color: #FFFFFF;
    margin-bottom: 15px;
}

.rejoindreText span {
    color: #D77A0D;
}

.ayezText {
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 35px;
}

.btnRejoindreWelcome {
    text-align: center;
    color: #FFFFFF;
    background: #D77A0D;
    width: 80%;
    padding: 11px 20px;
    font-family: "Ubuntu-Medium";
    font-size: 15px;
}

.btnRejoindreWelcome:hover {
    color: #FFFFFF;
}

.blockPartenaire {
    margin-bottom: 50px;
}

.blockRejoindre {
    background: #10375C;
}

.elementContentRejoindre .block2 {
    float: right;
    width: 34%;
    padding-top: 40px;
    position: relative;
}

.contentImgPattern {
    height: 325px;
    overflow: hidden;
}

.patternOrange {
    height: 514px;
    width: 95%;
}

.patterHomme {
    position: absolute;
    bottom: 0;
    left: 55px;
    height: 400px;
}

.blockFooter {
    background: #0B0D17;
    padding: 35px 0;
}

.logoFooter {
    width: 92px;
    margin-bottom: 30px;
}

.navFooter {
    display: flex;
    margin-bottom: 20px;
}

.nav-temFooter {
    color: #FFFFFF;
    font-size: 14px;
    padding-right: 20px;
}

.textCopyright {
    color: #FFFFFF;
    font-size: 14px;
}
.textCopyright a{
    color: #FFFFFF !important;
    font-size: 14px;
}

.blockImgHead {
    height: 276px;
    position: relative;
}

.blockImgHead img {
    width: 100%;
}

.textHeadQsm {
    font-size: 30px;
    color: #10375C;
    background: #fcfcfca3;
    width: 370px;
    padding: 11px 15px;
    position: absolute;
    left: 50px;
    bottom: 17px;
    font-family: "Ubuntu-Medium";
}

.blockSLiderTextqsm {
    display: flex;
    justify-content: space-between;
}

.blockSLiderTextqsm .blockSlider {
    width: 42%;
    padding: 30px 20px 50px;
}

.blockSlider .carousel .carousel-inner .carouselItemModife {
    height: 412px;
    position: relative;
}

.testText {
    font-size: 38px;
    font-weight: 400 !important;
    margin-bottom: 10px;
    color: #10375C;
}

.testText span {
    color: #10375C;
    font-family: "Ubuntu-Medium";
}

.textDescriptionQsm {
    font-size: 16px;
    color: #18191F;
    margin-bottom: 10px;
    text-align: justify;
}

.blockText {
    width: 56%;
    padding-right: 0;
    padding-top: 35px;
}

.logoGrisBlock {
    width: 100%;
    text-align: center;
}

.logoGrisBlock img {
    width: 105px;
    margin: 0 auto;
    opacity: 0.4;
}

.blockCardMissions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.cardMissions {
    background: #FFFFFF;
    text-align: center;
    width: 31.33%;
    height: 150px;
    padding: 35px 20px 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    position: relative;
}

.btnFleche {
    background: #D77A0D;
    text-align: center;
    position: absolute;
    bottom: -15px;
    width: 50px;
    height: 35px;
    left: 43.5%;
    cursor: pointer;
    padding-top: 13px;
}

.centreCard .btnFleche {
    background: white;
}

.titleCardMission {
    font-size: 20px;
    padding: 0 33px;
}

.centreCard {
    background: #d77a0d;
    color: white;
    height: 228px;
}

.titleCardOrange {
    margin-bottom: 10px;
    font-size: 22px;
}

.descriptionCardOrange {
    font-size: 15px;
    text-align: left;
    padding-left: 9px;
}

.enSavoirPlus {
    color: #d77a0d;
}

.enSavoirPlus:hover {
    color: #d77a0d;
}

.enSavoirPlus img {
    height: 28px;
}

.blockPLus2 {
    margin-bottom: 40px;
}

.blockSlider {
    margin-bottom: 45px;
}

.textPletforme1 {
    top: 55px;
    background: rgba(220, 139, 43, 0.72);
    border-radius: 7px;
    color: white;
    font-size: 28px;
    font-family: "Ubuntu-bold";
    margin-bottom: 5px;
    width: 600px;
    padding: 20px 20px 35px;
    position: absolute;
    left: 50px;
}

.textPletforme {
    color: #10375C;
    font-size: 28px;
    font-family: "Ubuntu-bold";
    margin-bottom: 5px;
    width: 600px;
    padding: 20px 20px 35px;
    background: #ffffffb5;
    position: absolute;
    bottom: 65px;
    left: 50px;
    border-radius: 7px;
}

.attacheImg {
    position: absolute;
    left: 70px;
    top: 185px;
    z-index: 11;
}

.textPletforme span {
    color: #DC8B2B;
}

.contentBlockSolutionsAdapté {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.SolutionCard {
    width: 32.33%;
    display: block;
    margin-bottom: 20px;
}

.overlayolution {
    padding: 20px 15px;
    width: 65%;
}

.imgSolutionCard {
    height: auto;
    width: 100%;
}

.SolutionCardOne {
    width: 100%;
    display: flex;
    padding: 15px;
    background: #FFFFFF;
    border: 0.5px solid #d77a0d5e;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.SolutionCardOne:hover {
    text-decoration: unset !important;
}

.blockImgCardSolution {
    width: 45%;
    height: 300px;
    overflow: hidden;
    margin-right: 10px;
}

.blockImgCardSolution .imgCard {
    height: 100%;
    width: 100%;
}

.contText {
    padding: 10px 15px;
    background: white;
    border: 1px solid #e6e6e6;
    min-height: 118px;
}

.contText h3 {
    font-family: "Ubuntu-Medium";
    font-size: 20px;
    line-height: 22px;
    color: #222831;
}

.contText p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #18191F;
    margin-bottom: 8px;
}

.textCardSolution {
    font-size: 25px;
    line-height: 30px;
    color: #222831;
    font-family: "Ubuntu-Medium";
}

.descriptionSolutionCard {
    color: #18191F;
    font-size: 16px;
    text-align: justify;
}

.contentAccount {
    background: #d7d7d77a;
}

.back1 {
    height: 100vh;
    background: url("../img/background1.png") no-repeat center;
    background-size: cover;
}

.input-group {
    position: relative;
}

.btnModifeSearch {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 6px;
}

.headTabAccount {
    width: fit-content;
    margin: 25px auto 35px;
    border-bottom: 1px solid white;
}

.headTabAccount .btn {
    font-family: "Ubuntu-Medium";
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 10px 40px;
}

.contentTabAccount .contentLogin {
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formeAccount {
    display: none;
}

.cardEquipement2 {
    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contentTabAccount .contentInscription {
    display: none;
}

.contentTabAccount .contentLogin .formblock {}

.blockImg {
    width: 552px;
    height: 400px;
    overflow: hidden;
}

.blockImg2 {
    width: 552px;
    overflow: hidden;
}

.blockImg img {
    width: 100%;
}

.blockImg2 img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.formblock {
    width: 50%;
    padding: 30px 80px 0px 80px;
}

.blockInput {
    width: 50%;
    padding: 30px 80px 0px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textConnectezVous {
    margin-bottom: 5px;
    letter-spacing: 0.1em;
    color: #323232;
}

.votreProfil {
    font-size: 14px;
    line-height: 22px;
    font-family: "Ubuntu-Medium";
    margin-bottom: 1px;
    color: #FFFFFF;
}

.contentChooseProfil {
    display: flex;
    justify-content: space-between;
}

.cardEquipement {
    width: 48%;
    background: rgba(255, 255, 255, 0.76);
    border: 4px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-align: center;
    padding: 20px 80px;
}

.clientText {
    font-style: normal;
    font-family: "Ubuntu-Medium";
    line-height: 23px;
    letter-spacing: 0.1em;
    text-align: start;
    margin-bottom: 20px;
    color: #444B59;
}

.utilisateurEquipementText {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1em;
    margin-bottom: 35px;
    color: #444B59;
}

.btnContinuerIci {
    margin: 0 20px;
    width: 100%;
    position: relative;
    background: none;
    border: 1px solid #d77a0d;
    color: #d77a0d;
    font-size: 15px;
    align-items: center;
}

.btnContinuerIci img {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
}

.userequipementImg {
    width: 89px;
    margin: 8px auto 20px;
}

.userequipementImg img {
    width: 100%;
}

select option {
    border-bottom: 1px solid #0000009c !important;
    color: #2a2a2a !important;
}

.inputSelectHide {
    display: none;
}

.inputSelectHide2 {
    display: none;
}

.imgText {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}

.imgText img {
    width: 241px;
    height: fit-content;
}

.cardAPropos {
    background: #FFFFFF;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
}

.textApropsAcceuil {
    font-size: 16px;
    font-feature-settings: 'liga' off;
    margin-bottom: -2px;
    padding-top: 10px;
    text-align: left;
}
.textSuite{
    display: none;
}
.btnSuitePropos{
    color: #D77A0D;
}
.btnSuitePropos:hover{
    color: #D77A0D !important;
    text-decoration: underline;
}
#reduirebtn{
    display: none;
}

.textApropsAcceuil a {
    color: #D77A0D;
    padding-left: 10px;
}

.g1Orange {
    width: 101px;
    height: fit-content;
}

.textProfessionnels {
    font-family: "Ubuntu-Medium";
    font-size: 28px;
    line-height: 20px;
    color: #18191F;
    width: 80%;
    padding-top: 43px;
    padding-left: 32px;
}

.g2Noir {
    width: 50px;
    margin-left: 10px;
    padding-top: 24px;
}

.blockPOurVous {
    padding: 20px;
    display: flex;
    margin-bottom: 8px;
}

.listeNosMissions {
    background: #FFFFFF;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    margin-top: -10px;
}

::marker {
    color: #D77A0D !important;
}

.listeNosMissions ul li {
    font-size: 18px;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 7px;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

.btnDown {
    width: 100%;
    text-align: center;
}

.btnDown img {
    width: 49px;
    margin: 5px auto 0;
}

.notreOBjectif {
    font-size: 18px;
    line-height: 25px;
    font-feature-settings: 'liga' off;
    color: #18191F;
}

.prevModife span {
    background-image: unset !important;
}

.nextModife span {
    background-image: unset !important;
}

.blockIntroService {
    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 150px;
}

.blockIntroService hr {
    width: 73px;
    margin-top: 0;
    margin-bottom: 5px;
    border-top: 1.5px solid #D77A0D;
    margin-right: 18px;
}

.blockIntroService p {
    font-style: normal;
    font-weight: 500;
    margin-bottom: 6px;
    color: #222831;
}

.blockIntroService p span {
    color: #D77A0D;
    font-family: "Ubuntu-Medium";
}

.cardServiceHome {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    width: 49%;
    height: 280px;
    border-radius: 20px;
}

.cardServiceHome .imgCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardServiceHome .colorElement {
    position: absolute;
    background-color: rgb(23 40 80 / 75%);
    top: 0;
    width: 100%;
    height: 100%;
}

.maskGroupImg {
    width: 89px;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: absolute;
    right: 15px;
}

.maskGroupImg img {
    width: 100%;
}

.contentCardServie {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 12px 20px;
}
.textcontentCardServie{
    font-size: 14px;
    color: white;
    padding: 0 12px;
    text-align: center;
}

.headCardValeurs {
    display: flex;
    align-items: center;
    padding: 10px 12px 6px;
}

.headCardValeurs p {
    font-family: "Ubuntu-Medium";
    margin-bottom: 0;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #10375c;
}

.imgCardValeurElement {
    height: 117px;
    width: 100%;
}

.imgCardValeurElement img {
    width: 100%;
}

.circleOrange {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: #d77a0d;
    margin-right: 10px;
}

.contentText {
    padding: 10px;
}

.contentText p {
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #18191F;
    margin-bottom: 0;
    text-align: left;
}

.cardNosValeurs {
    background: #FFFFFF;
    border-radius: 1.75467px;
    filter: drop-shadow(0px 21.056px 56.1493px rgba(45, 48, 58, 0.06));
    border: 1px solid #f0f0f0;
    margin-bottom: 50px;
    height: 100%;
}

.bloxkNosValeurs {
    margin-bottom: 30px;
}
.twoBlockPropos{
    display: flex;
}
.mieuxNousConnaitre{
    width: 48%;
    margin: 0 20px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 12%);
    border-radius: 5px;
    padding: 20px 40px;
}

.mieuxNousConnaitre .title {
    font-size: 30px;
    margin-bottom: 2px;
    font-family: "Ubuntu-Medium";
    line-height: 40px;
}

.mieuxNousConnaitre .sousTitle {
    color: #4c4c4e;
    margin-bottom: 3px;
    font-size: 15px;
}

.bleu {
    background: #10375c;
    color: #ffffff;
}
.bleu .textApropsAcceuil {
    color: #ffffff;
}
.bleu .sousTitle {
    color: #ffffff;
}

.hrGris hr {
    width: 100px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    border-color: #b0b0b0;
}

.hrGris {
    margin-top: 6px;
}

.servicesBlock{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 130px;
    margin-top: 30px;

}

.blockFabriquants{
    width: 48.5%;
    position: relative;
}

.blockChooseProfil .formeAccount .blockfabriquants{
    width: 100%;
}

.blockUtilisateurs{
    width: 48.5%;
    position: relative;

}

.firstBlockService{
    width: 355px;
    margin: 40px auto 60px;
    background: #10375C;
    padding: 30px 30px 10px;
}
.firstBlockService{
    color: white;
    margin-bottom: 2px;
}
.firstBlockService span{
    color: #FF9800;
}
.checkV{
    width: 13px;
    height: 8px;
    margin-right: 5px;
    margin-top: 7px;
}
.cardElementBlockService{
    display: flex;
    background: #FFFFFF;
    border: 0.675565px solid #10375C;
    box-sizing: border-box;
    box-shadow: 0px 14.5179px 11.4679px rgb(16 55 92 / 17%);
    border-radius: 4.58717px;
    padding: 10px 10px;
}
.lefTopBlockService{
    width: 240px;
    position: absolute;
    right: 0;
    top: -7px;
}
.lefTopBlockService:hover .enSavoirPlusBlock{
    opacity: 1;
}
.enSavoirPlusBlock {
    position: absolute;
    background: #d77a0d7d;
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    text-align: center;
    padding-top: 28px;
    opacity: 0;
}

.enSavoirPlusBlock a {
    color: white !important;
    background: #292929;
    padding: 8px 13px !important;
    font-size: 14px;
    border-radius: 7px;
    margin-top: 3px;
}
.enSavoirPlusBlock a:hover {
    text-decoration: unset !important;
}
.lefBottomBlockService{
    width: 217px;
    position: absolute;
    right: 0;
    bottom: -76px
}
.lefBottomBlockService:hover .enSavoirPlusBlock{
    opacity: 1;
    padding-top: 43px;
}
.rightTopBlockService{
    width: 230px;
    position: absolute;
    top: -7px;
    left: 0;
}
.rightTopBlockService:hover .enSavoirPlusBlock{
    opacity: 1;
    padding-top: 25px;
}
.rightBottomBlockService{
    width: 289px;
    bottom: -60px;
    position: absolute;
    left: 0;
}
.rightBottomBlockService:hover .enSavoirPlusBlock{
    opacity: 1;
    padding-top: 25px;
}

.textcardfirstBlockService{
    margin-bottom: 0;
}
.rightTopBlockService2 {
    width: 232px;
    position: absolute;
    top: -30px;
    left: 0;
}
.rightTopBlockService2:hover .enSavoirPlusBlock{
    opacity: 1;
}
.rightBottomBlockService2 {
    width: 224px;
    bottom: -60px;
    position: absolute;
    left: 0;
}
.rightBottomBlockService2:hover .enSavoirPlusBlock{
    opacity: 1;
}
.lefBottomBlockService2 {
    width: 193px;
    position: absolute;
    right: 0;
    bottom: -27px;
}
.lefBottomBlockService2:hover .enSavoirPlusBlock{
    opacity: 1;
    padding-top: 13px;
}
.hrServices{
    min-height: 160px;
    border-top: unset !important;
    border-left: 1px solid #ff980087;
}
.contentCardSolutions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blockContact{
    text-align: center;
}
.contactIconImg{
    width: 50px;
    margin: 0 auto 25px;
}
.contactSupportText{
    font-weight: bold;
    font-size: 32px;
    color: #2D2D2D;
    text-align: center;
    margin: 0 auto 30px;
}
.cardAdressContact{
    filter: drop-shadow(0px 14.6455px 39.0548px rgba(45, 48, 58, 0.1));
    background: #FFFFFF;
    border: 1px solid #B5B5B5;
    box-sizing: border-box;
    border-radius: 5.49208px;
    padding: 15px;
    text-align: center;
    height: 190px;
    margin-bottom: 15px;
}
.cardAdressContact .title{
    color: #2D2D2D;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Ubuntu-Medium";
}
.cardAdressContact hr{
    border-top: 0.5px solid #42424269 !important;
    margin: 0 auto 7px;
    width: 170px;
}
.cardAdressContact .description{
    font-size: 18px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #18191F;
    margin-bottom: 8px;
}
.descriptionContact {
    margin-bottom: 5px;
}
.blockCardMap {
    margin: 25px 0 50px;
}
.blockCardMap img{
    width: 100%;
}
.colM {
    width: 48%;
}

.colL {
    width: 100%;
}
.formContact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1.47977px solid #908F94;
    box-sizing: border-box;
    border-radius: 2.95954px;
    padding: 15px;
}
.btnEnvoyer {
    background: #d77a0d !important;
    color: white !important;
    align-self: center !important;
    padding: 9px 50px !important;
    font-family: "Ubuntu-Medium";
    margin: 35px auto 45px;
}


@media all and (min-width: 300px) and (max-width: 767px) {
    .itemModife {
        height: 237px !important;
        overflow: hidden;
    }
    .textPletforme {
        color: #10375C;
        font-size: 15px;
        font-family: "Ubuntu-Medium";
        margin-bottom: 5px;
        width: 290px;
        padding: 10px 10px 10px;
        background: #ffffffb5;
        position: absolute;
        bottom: 48px;
        left: 20px;
    }
    .mieuxNousConnaitre {
        width: 100%;
        margin: 0 0px 30px;
        padding: 20px 20px;
    }
    .twoBlockPropos {
        display: block;
    }
    .textPletforme1 {
        top: 50px;
        color: white;
        font-size: 14px;
        width: 235px;
        padding: 10px 20px 15px;
        left: 18px;
    }
    .textPletforme1 {
        top: 50px;
        color: white;
        font-size: 14px;
        width: 72%;
        padding: 10px 20px 15px;
        left: 18px;
    }
    .attacheImg {
        left: 20px;
        top: 82px;
    }
    .blockSlider {
        margin-bottom: 5px;
    }
    .hrFaire2 {
        background: #FFFFFF;
        width: 73px;
        height: 1px;
        position: absolute;
        left: 25px;
        bottom: 5px;
    }
    .nos-dommaines {
        font-size: 19px;
        width: 100%;
        line-height: 24px;
    }
    .experienceCle {
        font-size: 15px;
    }
    .textFaire {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .hrFaire {
        width: 63px;
        bottom: 0px;
    }
    .blockSlideFaire .carousel-wrap {
        width: 100%;
    }
    .groupFaire {
        display: flex;
        align-items: unset;
    }
    .blockSlideFaire .carousel-wrap .owl-carousel .owl-nav {
        position: absolute;
        top: -136px;
        width: 126px;
        height: 115px !important;
        right: 0px;
        padding: 0 50px;
    }
    .blockSlideFaire .carousel-wrap .owl-carousel .owl-nav button .nav-btn img {
        width: 30px;
    }
    .overlay1 {
        height: 235px;
    }
    .imgBlockItem {
        height: 235px;
        overflow: hidden;
    }
    .blockSlideFaire .carousel-wrap .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
        height: 235px;
        overflow: hidden;
    }
    .btnSavoirPLus {
        bottom: 30px;
    }
    .ImgOverlayPattern {
        width: 60px !important;
    }
    .textOverlay {
        font-size: 23px;
        top: 25%;
    }
    .descriptionOverlay {
        font-size: 16px;
    }
    .blockFaire {
        margin-bottom: 20px;
    }
    .textConfiance {
        font-size: 28px;
        line-height: 30px;
    }
    .bigText {
        font-weight: normal;
        color: #9A9A9A;
        font-size: 14px;
        text-align: center;
        margin-bottom: 21px;
    }
    .imgPartener {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .imgPartener img {
        height: 30px;
        margin-bottom: 20px;
    }
    .elementContentRejoindre .block2 {
        display: none;
    }
    .elementContentRejoindre .block1 {
        width: 100%;
        padding: 38px 0 30px;
    }
    .rejoindreText {
        font-size: 30px;
    }
    .ayezText {
        font-size: 16px;
    }
    .nav-temFooter {
        color: #FFFFFF;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .navFooter {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .activeNav {
        border-bottom: 2px solid #D77A0D;
        width: fit-content;
    }
    .nav-connecte {
        width: fit-content;
    }
    .itemConnecte {
        margin-left: 15px;
    }
    .blockImgHead {
        height: 162px;
    }
    .textHeadQsm {
        font-size: 25px;
        bottom: 17px;
        width: 100%;
        text-align: center;
        left: 0;
    }
    .blockSLiderTextqsm .blockSlider {
        display: none;
    }
    .blockSLiderTextqsm {
        width: 100%;
    }
    .blockText {
        width: 100%;
        padding-right: 10px;
        padding-top: 10px;
    }
    .blockCardMissions {
        flex-wrap: wrap;
    }
    .cardMissions {
        width: 100%;
        margin-bottom: 30px;
    }
    .headTabAccount .btn {
        font-size: 15px;
        padding: 5px 20px;
    }
    .blockImg {
        display: none;
    }
    .formblock {
        width: 100%;
        padding: 24px 24px 0px 24px;
    }
    .radioModife {
        padding-left: 25px !important;
        font-size: 12px !important;
    }
    .motdepassOublie {
        font-size: 12px !important;
        margin-bottom: 20px !important;
        margin-right: 0px !important;
        padding-top: 2px !important;
    }
    .contentChooseProfil {
        flex-wrap: wrap;
    }
    .cardEquipement {
        width: 100%;
        text-align: center;
        padding: 20px 20px;
        margin-bottom: 20px;
    }
    .userequipementImg {
        width: 75px;
        margin: 8px auto 20px;
    }
    .clientText {
        font-size: 14px;
    }
    .btnContinuerIci {
        margin: 0;
    }
    .back1 {
        min-height: 100vh;
        height: unset;
    }
    .blockImg2 {
        display: none;
    }
    .blockInput {
        width: 100%;
        padding: 25px 25px 0px 25px;
    }
    .blockElementequipement {
        margin-left: 0 !important;
    }
    .blockAdapte {
        padding: 0 0px;
        margin-bottom: 20px;
    }
    .solutionsAdapte {
        font-size: 18px;
        line-height: 22px;
        width: 65%;
        margin-bottom: 10px;
    }
    .SolutionCardOne {
        width: 100%;
        display: flex;
        height: unset;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .blockImgCardSolution {
        width: 100%;
        height: 170px;
        overflow: hidden;
        margin-right: 10px;
    }
    .blockImgCardSolution .imgCard {
        height: unset;
        width: 100%;
    }
    .overlayolution {
        width: 100%;
    }
    .imgCardValeurElement {
        height: fit-content;
    }
    .textCardSolution {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 5px;
    }
    .SolutionCard {
        width: 100%;
        margin-bottom: 20px;
    }
    .blockNav nav {
        padding: 10px 0;
    }
    .imgText {
        display: block;
    }
    .imgText img {
        width: 100%;
        height: initial;
    }
    .cardAPropos {
        padding: 15px;
        margin-bottom: 35px;
    }
    .textApropsAcceuil {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 6px;
    }
    .g1Orange {
        width: 23px;
    }
    .textProfessionnels {
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
        font-feature-settings: 'liga' off;
        color: #18191F;
        width: 100%;
        padding-top: 35px;
        padding-left: 7px;
    }
    .blockPOurVous {
        padding: 10px 0;
        display: flex;
        margin-bottom: 8px;
    }
    .g2Noir {
        width: 23px;
        margin-left: 10px;
        padding-top: 8px;
    }
    .likeBlockResponse {
        width: 82%;
    }
    .headResponseCommenatire {
        width: 100%;
    }
    .blockIntroService {
        height: unset;
    }
    .cardServiceHome {
        width: 100%;
    }
    .servicesBlock {
        display: block;
        margin-bottom: 0px;
        margin-top: 30px;
    }
    .blockUtilisateurs {
        width: 100%;
        position: relative;
    }
    .rightTopBlockService {
        top: -65px;
        right: 0;
        left: unset;
    }
    .rightTopBlockService2 {
        top: -65px;
        right: 0;
        left: 110px;
    }
    .lefTopBlockService {
        top: 0;
        left: 0;
    }
    .lefTopBlockService2 {
        top: 0;
        left: 0;
    }
    .rightBottomBlockService {
        bottom: -35px;
        left: 0;
    }
    .rightBottomBlockService2 {
        bottom: -35px;
        left: 120px;
    }
    .lefBottomBlockService {
        right: 0;
        bottom: -128px;
    }
    .lefBottomBlockService2 {
        right: 0;
        bottom: -80px;
        left: 0;
    }
    .firstBlockService {
        margin: 70px auto 15px;
        padding: 80px 30px 30px;
    }
    .blockFabriquants {
        width: 100%;
        margin-bottom: 115px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .carouselItemModife {
        height: 313px;
        overflow: hidden;
    }
    .blockSlideFaire .carousel-wrap {
        width: 100%;
        margin: auto;
        position: relative;
    }
    .blockSlideFaire .carousel-wrap .owl-carousel .owl-nav {
        position: absolute;
        top: -144px;
        width: 165px;
        height: 150px !important;
        right: 0;
        padding: 0 40px;
    }
    .imgPartener {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .nos-dommaines {
        color: #10375C;
        font-size: 25px;
        margin-bottom: 15px;
        font-family: "Ubuntu-Medium";
        width: 41%;
        line-height: 34px;
    }
    .elementContentRejoindre .block1 {
        width: 50%;
        padding: 50px 0 30px;
    }
    .elementContentRejoindre .block2 {
        float: right;
        width: 46%;
        padding-top: 40px;
        position: relative;
    }
    .activeNav {
        border-bottom: 2px solid #D77A0D;
        width: fit-content;
    }
    .nav-connecte {
        width: fit-content;
    }
    .itemConnecte {
        margin-left: 15px;
    }
    .textDescriptionQsm {
        font-size: 15px;
    }
    .cardMissions {
        width: 32.33%;
        padding: 26px 15px 20px;
    }
    .titleCardMission {
        font-size: 16px;
        padding: 0 33px;
    }
    .titleCardOrange {
        font-size: 16px;
    }
    .descriptionCardOrange {
        font-size: 13px;
        text-align: left;
        padding-left: 9px;
    }
    .blockImg {
        display: none;
    }
    .formblock {
        width: 60%;
        padding: 30px 20px 0px 20px;
        margin: 0 auto;
    }
    .cardEquipement {
        padding: 20px 20px;
        position: relative;
    }
    .btnContinuerIci {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        width: 90%;
    }
    .blockImg2 {
        display: none;
    }
    .blockInput {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .blockAdapte {
        padding: 0;
        margin-bottom: 40px;
    }
    .solutionsAdapte {
        font-size: 27px;
        width: 45%;
    }
    .SolutionCardOne {
        height: 304px;
    }
    .contText {
        min-height: 172px;
    }
    .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        display: flex !important;
        flex-wrap: wrap !important;
    }
    .navbar-nav li {
        font-family: "Ubuntu-Medium";
        margin-bottom: 15px;
    }
    .textPletforme1 {
        font-size: 23px;
        width: 540px;
    }
    .textPletforme {
        font-size: 23px;
        width: 542px;
    }
    .g1Orange {
        width: 64px;
        height: fit-content;
    }
    .headCardValeurs p {
        font-size: 13px;
    }
    .hrServices {
        min-height: 160px;
        border-top: unset !important;
        border-left: 1px solid #ff980087;
        display: none;
    }
    .blockFabriquants {
        width: 100%;
        position: relative;
    }
    .blockUtilisateurs {
        width: 100%;
        position: relative;
        margin-bottom: 130px;
    }
}